<pre class="card card-block card-header">Model: {{myForm.value.state | json}}</pre>
<form [formGroup]="myForm">
  <div class="form-group">
    <label class="control-label col-sm-2" >States</label>
    <div class="col-sm-4">
    <input formControlName="state"
           [typeahead]="states"
           typeaheadOptionsLimit="7"
           typeaheadMinLength="0"
           placeholder="Typeahead inside a form"
           class="form-control">
    </div>
  </div>

  <div>
    <div class="card">
      <pre class="card-block card-header">Selected date is: <em *ngIf="dt">{{ getDate() | date:'fullDate'}}</em></pre>
    </div>
    <h4>Inline</h4>
    <div style="display:inline-block; min-height:290px;">
      <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>
    </div>

  </div>


</form>
